body
{
    margin: 0%;
    height: 95vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 0;
    font-family: Wendy One;
}

.head
{
    display: flex;
    background-color: #2978E0;
    width: 100vw;
    height: 20vh;
    flex-direction: row;
    position: relative;
    margin-top: 0;
    grid-row: 1;
    grid-column: 1;
}

.logosmall
{
    position: absolute;
    margin-left: 1vw;
    width: 8vw;
    margin-top: 2.5vh;
}

.title
{
    position: absolute;
    margin-left: 20vw;
    margin-top: 1vh;
    font-size: 2rem;
    font-family: Wendy One;
    padding: 1rem;
    background-color: #97D700;
    border-radius: 15px;
    color: #edf2f5;
}

.proyect
{
    font-family: Wendy One;
    position: absolute;
    margin-left: 20vw;
    margin-top: 11vh;
    width: 5vw;
    height: 2vh;
    background-color: #E73743;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    color: #fff;
}

.shopping
{
    font-family: Wendy One;
    position: absolute;
    margin-left: 30vw;
    margin-top: 11vh;
    padding: 1rem;
    background-color: #E73743;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    text-decoration: none;
    font-size: 1.1rem;
    color: #fff;
    width: 5vw;
    height: 2vh;
}

.button
{
    font-family: Wendy One;
    position: absolute;
    margin-left: 40vw;
    margin-top: 11vh;
    padding: 1rem;
    background-color: #E73743;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border-color:#E73743;
    font-size: 1.1rem;
    color: #fff;
    width: 7vw;
    height: 6vh;
}

.grid
{
    grid-row: 1;
    position: relative;
    margin-top: 25vh;
    grid-column: 1;
    height: 65vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    text-align: center;
    color: #2978E0;
    font-size: 1.25rem;
}

.info
{
    width: 34.625rem;
    height: 1.8125rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: #97D700;
    bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1vh;
    grid-row: 2;
    margin-left: 30vw;
    margin-top: 1vh;
}

.textInfo
{
    margin: 0px;
    color: #fff;
    text-align: center;
    font-family: Wendy One;
    font-size: normal;
    font-weight: 400;
    line-height: normal;
    width: 11.14594rem;
}
